.card{
    all: unset;
    border: 1px solid white;
    border-radius: 18px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color: black; /* Black background */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05); /* Slightly enlarges the button */
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2); /* Adds depth */
  }
  
  .cardFrame{
    max-width: 150px;
    border: 1px solid white;
    border-radius: 18px;
  }
  
  .cardName{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  
  }
  
  .cardDesc{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }

  