.card{
    border: 1px solid white;
    border-radius: 18px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 30vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center; /* Center items horizontally */
    background-color: black; /* Black background */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .bigcard{
    border: 1px solid white;
    border-radius: 18px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 70vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center; /* Center items horizontally */
    background-color: black; /* Black background */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  
  .cardName{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }

  .timeText{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    padding: 2px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }

  

  